h1 {  
	text-align:center; 	
}

.subheads {  
  	background-color: blue;
  	color: white;  
  	margin-left: 0.5em;
}

img {
  	float: left;  
}

#firstword {
  font: 25pt arial,sans-serif;
  font-style:bold;
}

#main {
  margin-right: 15em;  
  float:left;
 }

#refsite {
  border: 2px solid black;
  position: fixed;
  right: 1em;
  width: 13em;
 }

 table, th, td
{
border-collapse:collapse;
border:1px solid black;
}

#id > th
{
	
}