#theater
{
	width : 600px;
	height : 500px;
}

table
{
	text-align : center;
	width : 500px;
	height : 400px;
	background-color : #DBFFD5;
}

table, th, tr, td
{
	border-collapse : collapse;
	border : 1px solid black;
}

table:nth-child(2)
{
	font-weight : bold
}

thead
{
	text-align : center;
}

#point
{
	display : inline;
}